body {
  background-color: coral;
}

h1 {
  color: LightGray;
  text-alignment: center;
}

p {
  font-family: verdana;
  font_size: 20px;
}



a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  transition: width 2s;
  animation-iteration-count: infinite;
}

a:hover, a:active {
  background-color: red;
width: 100px
  hight:100px
}

@keyframes example {
  0%   {background-color: light green;  transform: rotate(-20deg);}
  100% {background-color: #05D0EB; transform: rotate(20deg);}

