.snake-head {
    width: 20px;
    height: 20px;
    color: aqua;
    position: absolute;
    z-index: 2;
}

.grid {
    width: 2000px;
    height: 2000px;
    background-color: rgb(185, 200, 200);
    z-index: 1;
}