.snake-head {
    width: 20px;
    height: 20px;
    color: aqua;
    position: absolute;
    z-index: 2;
    padding: 70px;
    left: 100px;
}

.grid {
    position: absolute;
    width: 1000px;
    height: 800px;
    background-color: rgb(185, 200, 200);
    z-index: 1;
    border: 3px solid white;
    padding: 70px;
    left: 100px;
    text-align: center;
}

body {
    background-color: gray;
}