.snake-head {
    width: 20px;
    height: 20px;
    background-color: aqua;
    position: absolute;
    z-index: 2;
   
}

.grid {
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: rgb(185, 200, 200);
    z-index: 1;
    border: 3px solid white;
    padding: 70px;
    left: 300px;
}

body {
    background-color: gray;
}

.apple {
    background-color: red;
    width: 20px;
    height: 20px;
}