
    .top ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 0px solid #e7e7e7;
        background-color: #f3f3f3;
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .top li {
        float: left;
      }
      
      .top li a {
        display: block;
        color: #666;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

.snake-head {
    width: 20px;
    height: 20px;
    background-color: aqua;
    position: absolute;
    z-index: 2;
   
}
/*grid = canvas*/
/*undicided if the grid/canvas counld be made with smaller parts like rows and columns*/
.grid {
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: rgb(160, 200, 200);
    z-index: 1;
    border: 1px solid rgb(0, 0, 0);
    top: 150px;
    
}

body, html {
    height:100px;
    margin: 0;
}

body {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apple {
    z-index: 2;
    background-color: red;
    width: 40px;
    height: 20px;
}

canvas {
    width: 300px;
    height: 300px;
    z-index: 4;
}