body {
background-color:#E0E0E0;
}

/*top navigationbar styling*/

.top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 0px solid #e7e7e7;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  width: 100%;
}

.top li {
  float: left;
}

.top li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



/*text styling*/

p {
font-size: 18px;
font-weight: 100;
font-family: "Times new roman", Arial;
word-spacing:5px;
line-height: 30px;
}

h1 {
font-size: 24;
font-weight: 600;
color: yellow;
}

h2 {
font-size: 24;
font-weight: 400;
}

h3 {
font-size: 24; font-weight: hard;
}

.minämiel {
color: tomato;
}

/*place holder for hamburga*/


h1, h2 {
font-family: verdana;
}

a {
color: green;
}

p a:hover {
color: gray;
}

a:visited {
color: #009933;
}

footer p {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 10px;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
