.left {
    z-index: -1;
    background-color: rgb(0, 183, 255);
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.right {
    background-color: rgb(206, 172, 100);
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.img {
    opacity: 10%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 3;
}

a.button {

}

a {

}

.ground {
    background-color: rgb(26, 49, 26);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.ground2 {
    z-index: 3;
    background-color: forestgreen;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20px;
}

.rocket {
    z-index: 4;
position: absolute;
left: 50%;
bottom: -274px;
width: 200px;
height: 759px;
background: url(../img/movindefault.png) no-repeat 0 0;
transition: bottom 10000ms;
object-fit: scale-down;
}

body.body-state1 .rocket {
    transition: none;
}

body.body-state2 .rocket {
    background-image: url(../img/whycartnotmovin.png);
}

body.body-state3 .rocket {
    background-image: url(../img/whycart.png);
    bottom: 2000px;

}

body.body-state4 .rocket {
    background-image: url(../img/movingballer.png);
    bottom: 2000px;
}

body.body-state5 .rocket {
    background-image: url(../img/explosion.png);
}

.state1,
.state2,
.state3,
.state4,
.state5 {
    display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

/*.flame {
    opacity: 100%;
    z-index: 5;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 200px;
    height: 50px;
    transition: bottom 10000ms;

}
*/
