body {
    background-color: rgb(140, 216, 70);
}

.cool {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: background-color 1s;
}

.cool.red {
    background-color: red;
}

h1 {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: sue 0.5s infinite linear;
    font-size: 100;
    text-align: center;
}

@-webkit-keyframes sue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(360deg);
    }
}