body {
    background-color: rgb(140, 216, 70);
}

.cool {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: background-color 1s;
}

.cool.red {
    background-color: red;
}

.currentclassname {
    background-color: rgb(55, 0, 255);
}